/* SLIDER INPUT */
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 46px;
  height: 26px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/*size variants */
/*big */
.switch.big
{
  width: 64px;
  height: 32px;
}
.slider.big:before
{
  height: 24px;
  width: 24px;
  left: 4px;
  bottom: 4px;
}
input:checked + .slider.big:before { /*switch width - (switch left *2) - slider width*/
  -webkit-transform: translateX(32px);
  -ms-transform: translateX(32px);
  transform: translateX(32px);
}
/*small */
.switch.small
{
  width: 32px;
  height: 16px;
}
.slider.small:before
{
  height: 12px;
  width: 12px;
  left: 4px;
  bottom: 2px;
}
input:checked + .slider.small:before { /*switch width - (switch left *2) - slider width*/
  -webkit-transform: translateX(14px);
  -ms-transform: translateX(14px);
  transform: translateX(14px);
}

.rangeslider.big[type="range"]
{
  width:80%;
}


.lightcard_slider
{
  width:100px;
}
